# Heart_Disease_Prediction Python and Machine Learning
[Pranjal Jagtap]

*Work Flow*

Step 1 <- Get the Data	
	This Data set contain the several Health Parameters which corresponds to person’s healthiness of the art

Step 2 <- Process the Data sets
	Convert data into machine learning algorithm so need to proceed the data set make it fit and compatible for our machine learning algorithm  

Step 3 <- Split the data into Training data and Testing data
	
    
   This is because we often train our machine learning algorithm with training data and we will evaluate model we will evaluate the performance of our model using the test data this part is called “Strain test split “where we will split our original data set into training data and testing data ,we will feed our training data to our machine learning model. 
Here we are going to Using Logistic Regression Model because in this particular use case is binary classification here we are going to classify whether a person has a deceased or not so this is a binary classification either yes or no kind of questions 
Our model can predict that person is heart person or not

# ABSTRACT
Machine Learning is used across many ranges around the world. The healthcare industry is no exclusion. Machine Learning can play an essential role in predicting presence/absence of locomotors disorders, Heart diseases and more. Such information, if predicted well in advance, can provide important intuitions to doctors who can then adapt their diagnosis and dealing per patient basis. We work on predicting possible Heart Diseases in people using Machine Learning algorithms

# 1. Importing the required libraries for EDA

In [1]:
# Below are the libraries that are used in order to perform EDA (Exploratory data analysis) in this project.

In [15]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\shree\anaconda3\envs\r\lib\site-packages (1.24.2)

In [28]:
import numpy as np #used to make some nuppy array(list in python)
import pandas as pd #usefull Creating dataframes (structured Table)
from sklearn.model_selection import train_test_split #for importng the specific library
from sklearn.linear_model import LogisticRegression #importing Logistic regration Model
from sklearn.metrics import accuracy_score #importing accuracy Score 
import warnings
warnings.filterwarnings("ignore")

# 2. Loading the data into the data frame

Loading the data into the pandas data frame is certainly one of the most important steps , as we can see that the value
from the data set is comma-separated. 
So now we just read the CSV into a data frame and pandas data frame do there for work

In [10]:
# loading the csv data to a Pandas DataFrame
heart_data = pd.read_csv('heart_disease_data.csv') #csv file mean comma seprated file

In [11]:
# print first 5 rows of the dataset
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [11]:
# print last 5 rows of the dataset
heart_data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [13]:
# number of rows and columns in the dataset
heart_data.shape

(303, 14)

# 3. Checking the types of data

In [16]:
# In this case all data is in integer form but only diagnosis column contain string formate(object)
heart_data.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [14]:
# getting some info about the data
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [12]:
# checking for missing values
heart_data.isnull().sum ()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

# 4 statistical measures about the data

In [ ]:
# statistical measures about the data
heart_data.describe() #describe function give us statistic

              age         sex          cp  ...          ca        thal      target
count  303.000000  303.000000  303.000000  ...  303.000000  303.000000  303.000000
mean    54.366337    0.683168    0.966997  ...    0.729373    2.313531    0.544554
std      9.082101    0.466011    1.032052  ...    1.022606    0.612277    0.498835
min     29.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%     47.500000    0.000000    0.000000  ...    0.000000    2.000000    0.000000
50%     55.000000    1.000000    1.000000  ...    0.000000    2.000000    1.000000
75%     61.000000    1.000000    2.000000  ...    1.000000    3.000000    1.000000
max     77.000000    1.000000    3.000000  ...    4.000000    3.000000    1.000000

[8 rows x 14 columns]

In [ ]:
# checking the distribution of Target Variable
heart_data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

1 --> Defective Heart

0 --> Healthy Heart

Splitting the Features and Target

In [ ]:
#our perticular target column called as TARGET column and another coliums are aclls FETURES column 
#we are going to use all these fetures to predict these target value 
#we are analized the all these feture and then predict the person is healty or heart patinent

In [13]:
X = heart_data.drop(columns='target', axis=1)#whenever you are dropping the column you need to mention axis = 1 and when droppingnrow from data base axis = 0 
Y = heart_data['target']

In [ ]:
print(X)

     age  sex  cp  trestbps  chol  ...  exang  oldpeak  slope  ca  thal
0     63    1   3       145   233  ...      0      2.3      0   0     1
1     37    1   2       130   250  ...      0      3.5      0   0     2
2     41    0   1       130   204  ...      0      1.4      2   0     2
3     56    1   1       120   236  ...      0      0.8      2   0     2
4     57    0   0       120   354  ...      1      0.6      2   0     2
..   ...  ...  ..       ...   ...  ...    ...      ...    ...  ..   ...
298   57    0   0       140   241  ...      1      0.2      1   0     3
299   45    1   3       110   264  ...      0      1.2      1   0     3
300   68    1   0       144   193  ...      0      3.4      1   2     3
301   57    1   0       130   131  ...      1      1.2      1   1     3
302   57    0   1       130   236  ...      0      0.0      1   1     2

[303 rows x 13 columns]

In [ ]:
print(Y)

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

# 5: Splitting the Data into Training data & Test Data

In [14]:
#now we need to split our data into traing and test Data 
#so we will split the X into traing data mean all feture can store into X 
# Y into Testing data mean our target value store into Y

In [16]:
X_train , X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2) #creating variable

In [17]:
#X_train = feture of all train data
#X_test = feture of all test data
#Y _train = all the target of all these feture present in this Xtrain 
#Y_test = contain the corresponding target for X_test
#0.2 present the 20% of data as your test data
#stratify = when you mention stratify = y it split the data similarly , it contain similar praportion of 1 and 0 in orignal case
# if we not gave stratify function then there is possibility that  all the X test value may contain 0nor all value contain 1
#random_state = just to specify data in manner way

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(303, 13) (242, 13) (61, 13)

Model Training

Logistic Regression

In [ ]:
#logistic regression is also used for classification problem

In [21]:
# unique values in diagnosis column are M and B
heart_data.target.unique()

array([1, 0], dtype=int64)

In [19]:
model = LogisticRegression()

In [20]:
# training the LogisticRegression model with Training data
model.fit(X_train, Y_train) #this model will try to find the relationship or pattern between feture and target

C:\Users\Shree\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Model Evaluation

Accuracy Score

In [22]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [23]:
print('Accuracy on Training data : ', training_data_accuracy) #here our accuracy of data is 85 %

Accuracy on Training data :  0.8512396694214877

In [25]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test) #here our accuracy of data is 81 %

In [ ]:
print('Accuracy on Test data : ', test_data_accuracy)

Accuracy on Test data :  0.819672131147541

Building a Predictive System #model should predict there target

In [33]:
input_data = (51,0,0,130,305,0,1,142,1,1.2,1,0,3)

# change the input data to a numpy array
input_data_as_numpy_array= np.asarray(input_data)

# reshape the numpy array as we are predicting for only on instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1) #to tell our ML data to predict target for only one variable

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0]== 0):
  print('The Person does not have a Heart Disease')
else:
  print('The Person has Heart Disease')

[0]
The Person does not have a Heart Disease